$dark-background: #1f1b24;
$dark-gray: #121212;
$dark-purple: #332940;

$purple800: #8e05c2;
$purple300: #40375c;
$w-main-text: #ffff;
$w-secondary-text: rgba(255, 255, 255, 0.6);
$w-disabled-text: rgba(255, 255, 255, 0.3);
$danger: #e93247;
