@import "../../styles/variables";

.repoListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;

  .repoList {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: relative;
    background: rgba(30, 21, 39, 0.3);
    -ms-overflow-style: none;
    flex-wrap: wrap;
    gap: 1rem;
    scrollbar-width: none;
    overflow-y: scroll;
    border-bottom: solid 2px $purple300;
    &::-webkit-scrollbar {
      display: none;
    }
    &.emptyList {
      > svg {
        position: absolute;
        opacity: 0.1;
        animation: githubicon2 10s infinite;

        @keyframes githubicon2 {
          from {
            color: $purple300;
            transform: rotateY(0deg);
          }
          to {
            color: $purple800;
            transform: rotateY(360deg);
          }
        }
      }
    }

    .repoListHeader {
      z-index: 1;
      display: flex;

      p {
        text-align: center;
        font-size: 18px;
        color: $w-main-text;
      }
    }
  }
  &.error {
    position: relative;
    height: calc(100vh - 50vh);
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 20px;
    margin: 0 auto;
    border-bottom: solid 2px $danger;

    svg {
      position: absolute;
      opacity: 0.1;
      animation: githubicon 10s infinite;
      @keyframes githubicon {
        from {
          color: $danger;
          transform: rotateY(0deg);
        }
        to {
          color: $purple800;
          transform: rotateY(360deg);
        }
      }
    }

    .repoListHeader {
      z-index: 1;

      p {
        text-align: center;
        font-size: 18px;
        color: $danger;
      }
      span {
        color: $w-main-text;
        font-size: 20px;
      }
    }
  }

  .repoListHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    border-radius: 0 0 10px 10px;
    font-weight: 600;

    p {
      color: $w-disabled-text;
      font-size: 17px;
      span {
        color: $w-secondary-text;
      }
    }
  }

  .rateLimit {
    svg {
      margin-right: 0.5rem;
      color: $purple300;
    }
    z-index: 1;
    display: flex;
    margin: 0 0.9rem;
    color: $purple300;

    span {
      color: $w-main-text;
      font-size: 17px;
    }
  }
  .requestsInfo {
    svg {
      color: $purple300;
      margin-right: 0.5rem;
    }
    z-index: 1;
    display: flex;
    align-items: center;

    margin: 0.5rem 0.9rem;
    color: $purple300;

    span {
      margin: 0 0.5rem;
      font-size: 15px;
      color: $w-main-text;
    }
  }
}
